body {
    margin: 0;
    border: 0;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 9fr;
}

.sidebar {
    border: 1px solid black;
    grid-row: span 2;
}

.header {
    border: 1px solid black;
    grid-column: 2;
}

.main {
    border: 1px solid black;
}

.active {
    border: 1px solid red;
}